.telechargerapp {
  text-align: center;
}

footer {
  background-color: #f2f2f2;
}

.offressemaine, .listes {
  display: flex;
}

footer ul {
  list-style-type: none; 
}

.country-selector {
  margin-left: 1000px;
}

footer p {
  text-align: center;
}
/* --------------------------------------------------------------------------------------------- */
body {
  margin: auto;
}
header {
  background: url("https://www.just-eat.fr/uploads/static/hero//hero.jpg?1516859130") no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 35em;
  position: relative;
}
.nav1 {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.geoNav {
  margin: auto;
  width:50%;
  bottom: 0;
  z-index: 2;
}
.geoNav div {
  padding: 0% 5% 2% 5%;
  background: #fff;
  text-align: center;
}
.geoNav input {
  width: 58%;
  height:3em;
}
.geoNav button {
  background: #04f;
  color: #fff;
  border:none;
  border-radius:2px;
  font-weight: bold;
  height: 3em;
}
.geoElement {
  display: inline-block;
}
.title1 {
  font-weight: bold;
  color: #f00;
  padding-top: 2%;
}
.description1 {
  font-size: 1em;
}
.nav1 a {
  font-size: 0.75em;
}
svg {
  z-index: 1;
  position: absolute;
  bottom: 0;
}
container {
  margin: auto;
}
.fig {
}
.ico {
  margin-left:25%;
  width: 50%;
}
.capt {
  text-align: center;
  width: 90%;
  font-size: 0.9em;
}
@media only screen and (max-width: 480px) {
  .hide {
      display: none;
  }
  .title {
      font-size: 1em;
  }
}
