footer {
  background-color: #f2f2f2;
}

#offressemaine {
  display: flex;
}

#partiehaute {
  display: flex;
}

#partiebasse {
  display: flex;
}

#listes {
  display: flex;
}

ul {
  list-style-type: none; 
}

.country-selector {
  margin-left: 1000px;
}

p {
  text-align: center;
}